name: "snyk test"
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  snyk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Setup Snyk CLI
        uses: snyk/actions/setup@master

      - name: Snyk Open Source Test
        run: snyk test
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

     # - name: Snyk Code Test
     #   run: snyk code test
     #   continue-on-error: true
     #   env:
     #     SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      # - name: Snyk Monitor
      #   run: snyk monitor
      #   env:
      #     SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}